html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

// .visualy-hidden:not(:focus):not(:active),
// input[type="checkbox"].visualy-hidden,
// input[type="radio"].visualy-hidden {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   white-space: nowrap;
//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);
//   overflow: hidden;
// }

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

body {
  padding: 0;
  margin: 0 auto;
  min-width: 320px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 320px;
}

